{{#if single}}
  {{lesson-display lesson=lesson}}
{{else}}

  {{#if isNested}}

    <table>
      <tbody>
        {{#each nested}}
          <tr>
            <td>


              <small>group</small> {{subject}}|{{cluster.id}}<br />


            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  {{else}}
    <small>single sibling.</small><br />
  {{/if}}


{{/if}}
