<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a {{bind-attr aria-controls=group.data.group href=href }}
        data-parent="#collapsible-groups" aria-expanded="false"
        data-toggle="collapse" class="collapsed">
        <h3 class="panel-title">
          {{group.data.group}}
          <span class="badge pull-right">
            {{group.content.length}}
          </span>
        </h3>
      </a>{{! clearfix to clear columns above}}
    </div>
    {{! No panel-body since all it does is add padding we don't want }}
    <div {{bind-attr id=group.data.group}} class="collapse">
      {{render "item-list" group.content}}
    </div>
  </div>
</div>
