{{#if lesson.between}}
  tussen
{{else}}
    {{#unless lesson.empty}}
        {{#if lesson.audience}}
          <div style="float: right;">
            <small>{{lesson.audience.id}}</small>
          </div>
        {{/if}}

        {{lesson.subject}}<br />

        {{#with lesson}}
          {{partial "cell-teacher-display"}}<br />
          {{partial "cell-room-display"}}
        {{/with}}

    {{/unless}}
{{/if}}
