{{#if single}}

  {{! Ordinary- or sibling lesson }}
  {{#if lesson.detailed}}

    {{! Table cell }}
    {{#link-to "lesson" lesson tagName="td" class="cell" }}
      {{! Use both href and action for accessibility }}
      {{#link-to "lesson" lesson}}

        {{#if lesson.between}}
          <div>
            tussen
          </div>
        {{else}}
          <div>
            {{render "lesson-info" combined}}
          </div>
        {{/if}}

      {{/link-to}}
    {{/link-to}}

  {{else}}
    <td></td>
  {{/if}}
{{else}}

  {{! Nested }}
  <td>
    <table>
      <tbody>
        {{#each cell in nested}}
          <tr>
            {{render "cell" cell.content}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </td>
{{/if}}
