{{#if cell.single}}
  {{#with cell.lessons.firstObject as lesson}}

    {{! Ordinary- or sibling lesson }}
    {{#if lesson.detailed}}

      {{! Table cell }}
      {{#link-to "lesson" lesson tagName="td" class="cell" }}
        {{! Use both href and action for accessibility }}
        {{#link-to "lesson" lesson}}

          {{#if lesson.between}}
            <div>tussen</div>
          {{else}}
            {{#with cell.combined as lesson}}
              <div>{{partial cellTemplate}}</div>
            {{/with}}
          {{/if}}

        {{/link-to}}
      {{/link-to}}

    {{else}}
      {{! Empty }}
      <td></td>
    {{/if}}

  {{/with}}
{{else}}

  {{! Nested }}
  <td>
    <table>
      <tbody>
        {{#each cell in cell.nested itemController="cell" }}
          <tr>
            {{partial "cell"}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </td>
{{/if}}
