{{#modal-overlay}}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modal-label">
      {{#if between}}
        Tussenuur
      {{else}}
        {{subject}}
        {{#if room.id}}
          <small>in</small>
          <span class="text-muted">{{room.id}}</span>
        {{/if}}
      {{/if}}
    </h4>
    {{#unless between}}
      <h5 class="modal-title">
        {{! Use non-breaking space to ensure layout doens't move }}
        {{teacher.name}}&nbsp;
        <span class="text-muted pull-right">{{group.id}}{{cluster.id}}</span>
      </h5>
    {{/unless}}
  </div>

  <div class="modal-body">
    {{#if cluster}}
      {{render "item-list" cluster.students}}
    {{else}}
      {{#if group}}
        {{render "item-list" group.students}}
      {{else}}
        {{#if audience}}
          {{render "item-groups" audience.items}}
        {{else}}
          {{#error-state}}
            <h4>Geen publiek voor deze les gevonden.</h4>
          {{/error-state}}
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
{{/modal-overlay}}
