<table class="schedule">
<thead>
<tr>
<th>Uur\<wbr>Dag</th>
<th>maandag</th>
<th>dinsdag</th>
<th>woensdag</th>
<th>donderdag</th>
<th>vrijdag</th>
</tr>
</thead>

<tbody>
{{#each rows}}

  <tr>
  {{#each this}}


    <td>
      {{#if header}}
      	u{{index}}
      {{else}}
        {{#if nested}}
          <small>nested</small>
          <table>
            <tbody>
              {{#each content}}
                <tr>
                  <td>
                    {{lesson-component lesson=this}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
          <small>-not- nested</small>
      	    {{#each content}}

              {{#if between}}
                tussen
              {{else}}
                  {{#unless empty}}
                      {{subject}}
                      {{#if cluster}}
                        — {{cluster.id}}
                      {{/if}}
                      <br/>

                      {{#each teachers}}
                        <span {{bind-attr title=name}}>
                          {{#link-to 'schedule' id}}{{id}}{{/link-to}}
                        </span>
                      {{/each}}

                      <br />

                      {{#each rooms}}
                        {{#link-to 'schedule' id}}{{id}}{{/link-to}}
                      {{/each}}
                  {{/unless}}
              {{/if}}

      	    {{/each}}
        {{/if}}
      {{/if}}
    </td>

  {{/each}}
  </tr>

{{/each}}
</tbody>
</table>
