<table class="schedule">
<thead>
<tr>
<th>Uur\<wbr>Dag</th>
<th>maandag</th>
<th>dinsdag</th>
<th>woensdag</th>
<th>donderdag</th>
<th>vrijdag</th>
</tr>
</thead>

<tbody>
{{#each rows}}

  <tr>
  {{#each this}}


    <td>
      {{#if header}}
      	u{{index}}
      {{else}}
        {{#if nested}}
          <table>
            <tbody>
              {{#each content}}
                <tr>
                  <td>


                    {{partial "cell"}}


                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
            {{partial "cell"}}


        {{/if}}
      {{/if}}
    </td>

  {{/each}}
  </tr>

{{/each}}
</tbody>
</table>
